/* Variables */
:root {
	/* Theme */
	--textColor: #FFFFFF;
	--bgColor: #000;
	--overlayColor: rgba(0, 0, 0, 0);
	--scrollbarColor: rgba(255, 255, 255, 0.25);

	--mainFont: 'Montserrat', sans-serif;
	--accentFont: 'Marck Script', sans-serif;

	--zoomLevel: 100%;

	--showIcons: inline;
	--showLabels: -webkit-box;

	--columnWidth: 8rem;
}
@media (prefers-color-scheme: light) {
	:root {
		--bgColor: #FFF;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #000;
	}
}



/* Scale */
html {
	font-size: var(--zoomLevel);
}



/* Fonts */
.fontMain, h1, h2, h3, h4, h5, h6, button {
	font-family: var(--mainFont);
	font-weight: normal;
}
.fontAccent {
	font-family: var(--accentFont);
	font-weight: normal;
	margin-bottom: 0.125em;
}



/* Fixes */
body {
	user-select: none;
}
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a, button {
	outline: none;
}
a {
	text-decoration: none;
}
button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.hidden {
	display: none;
}



/* Body */
body {
	color: var(--textColor);
	background-color: var(--bgColor);
	overflow-y: hidden;
}
.background {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	/* background: none !important; */
}
.overlay {
	width: 100%;
	height: 100vh;
	background-color: var(--overlayColor);
}
.verticalCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bottom {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, 70%);
}
.topThird {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -33%);
}
.bottomThird {
	position: absolute;
	bottom: 33%;
	left: 50%;
	transform: translate(-50%, 33%);
}



/* Text */
.center {
	text-align: center;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}
#time {
	letter-spacing: 0.05em;
}
#time span:not(:first-child):not(#amPM)::before {
    content: ':';
}
#amPM::before {
	content: ' '
}
#day + #month::before {
	content: ' ';
}
#month::after {
    content: ' ';
}
#day + #year::before {
    content: ', ';
}



/* Favorites */
#favorites {
	width: max-content;
    max-height: 25vh;
	padding: 1rem;
	overflow-y: auto;
}
#favorites .row {
	display: flex;
}
#favorites .row:not(:last-child) {
	margin-bottom: 1rem;
}
#favorites.left .row {
	justify-content: left;
}
#favorites.center .row {
	justify-content: center;
}
#favorites.right .row {
	justify-content: right;
}
.favorite {
	display: inline-block;
	text-align: center;
	width: var(--columnWidth);
}
.favorite:not(:last-child) {
	margin-right: 1rem;
}
.favorite a, .favorite button {
	display: inline-block;
}
.favorite a, .favorite button, #settings, #edit {
	max-width: 100%;
}
.favorite a, .favorite button, #back, #settings, #edit {
	transition: all 0.125s;
}
.favorite a:hover, .favorite button:hover, .favorite a:focus, .favorite button:focus, #settings:hover, #settings:focus, #edit:hover, #edit:focus {
	transform: scale(1.1, 1.1);
}
.favorite >:first-child {
	opacity: 50%;
}
.favorite >:focus, .favorite >:hover {
	opacity: 100%;
}
.favorite a:active, .favorite button:active {
	transform: scale(1.2, 1.2);
}
#back:hover, #back:focus {
	transform: scale(1.25, 1.25);
}
#back:active {
	transform: scale(1.5, 1.5);
}
.favorite img {
	display: var(--showIcons);
}
.favorite img, #settings img, #edit img {
	width: 2rem;
	height: auto;
}
.favorite.folder img, .favorite.blank img #back, #settings img, #edit img {
	opacity: 0.85;
}
.favorite p {
	color: var(--textColor);
	font-size: 1rem;
	margin-top: 0.5em;

	height: 2.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: var(--showLabels);
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#back {
	position: absolute;
	top: 1.25rem;
	left: -1.25rem;
	display: none;
}
#back.visible {
	display: inherit;
}
#back img {
	width: 1.5rem;
}
#currentFolder {
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);

	width: 50vw;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
#settings {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
#edit {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
}



/* Scrollbar */
::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor);
	opacity: 0.25;
	border-radius: 0.125rem;
}
