/* Colors */
:root {
	--main: #FF6C6C;
	--mainHover: hsl(0, 100%, 61%);
	--mainClick: hsl(0, 100%, 51%);
	--mainTranslucent: rgba(255, 108, 108, 25%);

	--text: #515151;

	--border: #D6D6D6;

	--bgBody: #FCFCFC;
	--bgBox: #FFFFFF;
}



/* Fixes */
body {
	user-select: none;
}
a:focus, input:focus, textarea:focus {
	outline: none;
}
* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	display: none;
}
input {
	color: inherit;
	font-family: inherit;
}



/* Custom Bootstrap */
.container {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}
section .container {
	padding-bottom: 25px;
}
.box {
	background-color: var(--bgBox);
	padding: 25px;
	margin-top: 25px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: calc(100% - 50px);
}
.box, header, .select-arrow-active, .select-items:not(.select-hide), textarea {
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
}
.split {
	display: flex;
	justify-content: space-between;
}
.fixedContainer {
	width: 850px;
}
@media (min-width: 900px) {
	.container {
		max-width: 850px;
	}
	.smallContainer {
		max-width: 600px;
	}
}



/* General */
body {
	background-color: var(--bgBody);
	color: var(--text);
	font-family: 'Raleway', sans-serif;
}
::selection {
	color: inherit;
    background-color: var(--mainTranslucent);
}
.logoDarkMode {
	display: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
a > * {
    color: var(--text);
}
a, a > *, input {
	transition: all 250ms;
}
section a:hover, #banner a:hover {
	color: var(--mainHover);
}
.userIsUsingTab section a:focus, .userIsUsingTab #banner a:focus {
	background-color: rgba(255, 194, 0, 0.25);
}

section a, header .selected, #banner a {
	color: var(--main);
}
h1, h2, h3 {
	font-weight: normal;
}
h1, header h3, img {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
h1 {
	font-size: 3em;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin-left: 20px;
}
h2 {
	font-size: 2em;
}
h2:not(:first-child) {
	margin-top: 2em;
}
h3, p {
	font-size: 1.5em;
}
header h3 {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
section p, section h3 {
	margin-top: 15px;
}
label {
	font-size: 1.5em;
	line-height: 1.1em;
	display: inline-block;
	width: 50%;
	margin-top: 30px;
}
input {
	vertical-align: bottom;
	cursor: pointer;
}

input[type='text'] {
	width: 42%;
	color: var(--text);
	background-color: transparent;
	border: none;
	border-bottom: 1.5px solid var(--border);
	padding: 0.25em 1em;
	font-size: 1.5em;
	cursor: inherit;
}

input[type='text'], input[type='file'] {
	background-color: transparent;
	padding: 0.25em 1em;
	font-size: 1.5em;
}

::placeholder {
	color: var(--border);
}

input[type=file] {
	width: 39%;
	color: transparent;
	border: none;
	position: relative;
	background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}
input[type=file]::-webkit-file-upload-button {
	display: none;
    cursor: pointer;
}

input[type=file].dropping {
	/* box-shadow: inset 1rem 0 0 var(--main); */
	box-shadow: inset 250.5px 0 0 var(--main);
}

input[type='checkbox'] {
	padding: 8px;
	margin-right: 16px;
	background-color: var(--bgBox);
	border: 1.5px solid var(--border);
	border-radius: 3px;
	-webkit-appearance: none;
	background-size: cover;
}
input[type='checkbox']:hover, input[type='checkbox']:checked {
	border-color: var(--main);
}
input[type='checkbox']:checked {
	background-color: var(--main);
	background-image: url('/assets/icons/checkWhite.svg');
}
.userIsUsingTab input[type='checkbox']:focus::before {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 50%;
	height: 32px;
	width: 32px;
	margin-left: -16px;
	margin-top: -16px;
}

input[type='range'] {
	-webkit-appearance: none;
	padding: 9px 0;
	width: 65%;
	background-color: transparent;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin-top: -0.55em;
	background-color: var(--main);
}
input[type='range']::-webkit-slider-runnable-track {
	cursor: pointer;
	background-color: var(--border);
	height: 1.5px;
}
input[type='range']::-webkit-slider-thumb:hover, .userIsUsingTab input[type='range']:focus::-webkit-slider-thumb {
	background-color: var(--mainHover);
}
.rangeNumbers .rangeNumbersValue {
	color: var(--text);
	font-size: 1rem;
	position: absolute;
	margin-top: -1.5em;
	left: 50%;
	transform: translateX(-50%);
}
.rangeNumbers {
	width: 49%;
	display: inline-block;
	position: relative;
	text-align: center;
}
.rangeNumbersMin, .rangeNumbersMax {
    color: var(--border);
    position: absolute;
    font-size: 1rem;
	margin-top: -0.125em;
}
.rangeNumbersMin {
	left: 0.125em;
}
.rangeNumbersMax {
	right: 0;
}

input[type='color'] {
	width: 0;
	height: 0;
	border: none;
	background-color: white;
	padding-bottom: 0.75rem;
}
input[type='color']::before {
    background-color: inherit;
    visibility: visible;
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.75rem;
	border-radius: 50%;
    border: 1.5px solid var(--border);
}
.userIsUsingTab input[type='color']:focus::after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 50%;
	height: 2.5rem;
	width: 2.5rem;
	margin-left: -0.375rem;
	margin-top: -1.625rem;
}

textarea {
	border: none;
	background-color: var(--bgBody);
	margin-top: 1rem;
	width: calc(100% - 2rem);
	padding: 1rem;
	resize: none;
	color: var(--text)
}

/* Select styling swiped from https://www.w3schools.com/howto/howto_custom_select.asp */
.select {
	width: 49%;
	font-size: 1rem;
	position: relative;
	display: inline-block;
}
.select select {
	display: none;
}
.select-selected:after {
	position: absolute;
	content: '';
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: var(--text) transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
	border-color: transparent transparent var(--text) transparent;
	top: 7px;
}
.select-items div, .select-selected {
	color: var(--text);
	padding: 8px 16px;
	cursor: pointer;
}
.select-selected {
	border-bottom: 1.5px solid transparent;
}
.select-selected:not(.select-arrow-active) {
	border-bottom: 1.5px solid var(--border);
}
.select-items {
	position: absolute;
	background-color: var(--bgBox);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
.select-hide {
	display: none;
}
.select-items div {
	transition: background 0.125s;
}
.select-items div:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}



/* Header */
header {
	line-height: 70px;
	background-color: var(--bgBox);
}
header a:not(:first-child) {
	margin-left: 50px;
}
header a:visited {
	color: inherit;
}
header a:hover > *:not(.selected), .userIsUsingTab header a:focus > *:not(.selected) {
	color: var(--main);
}
.horizontalScrolling {
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	display: inline-block;
}



/* Banner */
#banner {
	display: none;
	background-color: var(--bgBox);
	width: 100%;
	box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.1);
	margin-top: -3px;
}
#bannerMessage {
	max-width: calc(100% - 44px);
	margin: 10px 0;
}
.close {
	background-size: cover;
	width: 44px;
	height: 44px;
	float: right;
	background-color: transparent;
	background-image: url('/assets/icons/closeDark.svg');
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
.close:hover, .userIsUsingTab .close:focus {
	background-color: rgba(0, 0, 0, 0.05);
}



/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--text: #FFF;
		--bgBody: #323336;
	}

	h1, h2, h3, h4, h5, h6, p, label, a > *, input[type='text'], .rangeNumbers .rangeNumbersValue, .select-items div, .select-selected {
		color: #DDD;
	}

	.logoLightMode {
		display: none;
	}
	.logoDarkMode {
		display: inline-block;
	}

	header, #banner, .box, input[type='checkbox'] {
		background-color: #35363A;
	}

	input[type='checkbox'] {
		border: 1.5px solid #DDD;
	}
	input[type='checkbox']:hover, input[type='checkbox']:checked {
		border-color: var(--main);
	}
	input[type='checkbox']:checked {
		background-color: var(--main);
		background-image: url('/assets/icons/checkDark.svg');
	}
	.userIsUsingTab input[type='checkbox']:focus::before {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.select-selected.select-arrow-active, .select-items {
		background-color: #343539;
	}
	.select-selected:after {
		border-color: white transparent transparent transparent;
	}
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent white transparent;
	}

	.close {
		background-image: url('/assets/icons/closeWhite.svg');
	}
}
